<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Bank Services</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>
<body>
	<h2>Welcome to HDFC Bank</h2>
	<hr />
	<table>
		<tr>
			<th>Services</th>
			<th>Details</th>
		</tr>
		<tr>
			<td>Service1</td>
			<td>Savings Account</td>
		</tr>
		<tr>
			<td>Service2</td>
			<td>Recurring Deposit</td>
		</tr>
		<tr>
			<td>Service3</td>
			<td>Fixed Deposit</td>
		</tr>
		<tr>
			<td>Service4</td>
			<td>Home Loan</td>
		</tr>
		<tr>
			<td>Service5</td>
			<td>Personal Loan</td>
		</tr>
	</table>
</body>
</html>