<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank Branches</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>

<body>
	<h2>Welcome to HDFC Bank</h2>
	<hr />
	<table>
		<tr>
			<th>Branch</th>
			<th>Address</th>
		</tr>
		<tr>
			<td>Branch1</td>
			<td>Dommasandra</td>
		</tr>
		<tr>
			<td>Branch2</td>
			<td>Sarjapur Raod</td>
		</tr>
		<tr>
			<td>Branch3</td>
			<td>Marathalli</td>
		</tr>
		<tr>
			<td>Branch4</td>
			<td>Kormangala</td>
		</tr>
		<tr>
			<td>Branch5</td>
			<td>Electronic City</td>
		</tr>
		<tr>
			<td>Branch6</td>
			<td>Majestic</td>
		</tr>
		<tr>
			<td>Branch7</td>
			<td>MG Road</td>
		</tr>
		<tr>
			<td>Branch8</td>
			<td>Whitefield</td>
		</tr>
		<tr>
			<td>Branch9</td>
			<td>Agara</td>
		</tr>
		<tr>
			<td>Branch10</td>
			<td>Bommasandra</td>
		</tr>
	</table>
</body>
</html>