<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Error Page</title>
</head>
<body>
<div align="center">
	<img src="../static/images/titletext.png" th:src="@{/images/titletext.png}" width="400" height="50" />
	<img src="../static/images/titlelogo.jpg" th:src="@{/images/titlelogo.jpg}" width="150" height="100" />
</div>
<hr>
<h1 style="color:red">Oops! An error Occured!</h1><br>
<a href="/">Login Page</a>
</body>
</html>