<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Modify Job</title>

<script type="text/javascript">
window.history.forward();
function noBack() {
	window.history.forward();
}
</script>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="" >
<div align="center">
	<img src="../static/images/titletext.png" th:src="@{/images/titletext.png}" width="400" height="50" />
	<img src="../static/images/titlelogo.jpg" th:src="@{/images/titlelogo.jpg}" width="150" height="100" />
</div>
	<hr>
<div align="right">
<nav>
	<a style="color:blue" href="/admin/adminHome">Home</a> |
	<a style="color:blue" href="/admin/addJob">Add Job</a> |
	<a style="color:blue" href="/admin/modifyJob">Modify Job</a> |
	<a style="color:blue" href="/admin/deleteJob">Delete Job</a> |
	<a style="color:blue" href="/admin/showProfile">View Profile</a> |
	<a style="color:blue" href="/admin/downloadProfile">Download Resume</a> |
	<a style="color:blue" href="/user/logout"><label th:text="'Logout(' + ${session.user} + ')'" ></label></a>
</nav>
</div>
<br>
<div align="center">
<b>Modify Job Details</b>
<br><br>
<div th:if="${job != null}">
<form action="/admin/updateJob" method="post" modelAttribute="job">
<table>
<tr>
<td>Job Id</td>
<td><input type="number" name="jobId" min="0" th:value="${job.jobId}" readonly/></td>
</tr>
<tr>
<td>Job Name</td>
<td><input type="text" name="jobName" th:value="${job.jobName}" placeholder="Enter Job Name" required="required"/></td>
</tr>
<tr>
<td>Job Description</td>
<td><input type="text" name="jobDescription" th:value="${job.jobDescription}" placeholder="Enter Job Description" required="required"/></td>
</tr>
<tr>
<td>Project Name</td>
<td><input type="text" name="projectName" th:value="${job.projectName}" placeholder="Enter Project Name" required="required"/></td>
</tr>
<tr>
<td>Skills Required</td>
<td><input type="text" name="requiredSkills" th:value="${job.requiredSkills}" placeholder="Enter Skills Required" required="required"/></td>
</tr>
<tr>
<td>Optional Skills</td>
<td><input type="text" name="optionalSkills" th:value="${job.optionalSkills}" placeholder="Enter Optional Skills" required="required"/></td>
</tr>
<tr>
<td>Location</td>
<td><input type="text" name="location" th:value="${job.location}" placeholder="Enter Job Location" required="required"/></td>
</tr>
<tr>
<td>Employee Band</td>
<td><input type="text" name="employeeBand" placeholder="Enter Employee Band(B1/B2...)" th:value="${job.employeeBand}" required="required"/></td>
</tr>
<tr>
<td>Experience</td>
<td><input type="number" name="experience" min="0" th:value="${job.experience}" placeholder="Enter Experience in Years" required="required"/></td>
</tr>
<tr>
<td>Total Positions</td>
<td><input type="number" name="positions" min="1" th:value="${job.positions}" placeholder="Enter Number Of Positions" required="required"/></td>
</tr>
<tr>
<td>Contact Email</td>
<td><input type="email" name="emailId" th:value="${job.emailId}" placeholder="Enter Email Id" required="required"/></td>
</tr>
<tr>
<td>Contact Number</td>
<td><input type="number" name="contactNumber" th:value="${job.contactNumber}" placeholder="Enter Contact Number" required="required"/></td>
</tr>
<tr>
<td><input type="submit" value="Update Job"/></td>
<td><input type="reset" value="Reset"/></td>
</tr>
</table>
</form>
</div>
</div>
</body>
</html>