<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Success Page</title>
</head>
<body>
	<div align="center">
		<img src="../static/images/titletext.png" th:src="@{/images/titletext.png}" width="400" height="50" />
	<img src="../static/images/titlelogo.jpg" th:src="@{/images/titlelogo.jpg}" width="150" height="100" />
		<hr>
		<br>
	</div>
	Your Registration is successful. Please login to continue.
	<br><br>
	<a href="/"><font color="blue">Login Page</font></a>
</body>
</html>