<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>User Account Details</title>

<script type="text/javascript">
	window.history.forward();
	function noBack() {
		window.history.forward();
	}
</script>

</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();"
	onunload="">
	<div align="center">
		<img src="../static/images/titlelogo.jpg"
			th:src="@{/images/bank_logo.jpg}" width="200" height="150" /> <img
			src="../static/images/titletext.png"
			th:src="@{/images/bank_title.JPG}" width="400" height="100" />
	</div>
	<hr>
	<div align="right">
		<nav>
			<a style="color:blue" href="/user/userHome">Home</a> |
			<a style="color:blue" href="/user/modifyProfile">Modify Profile</a> |
			<a style="color:blue" href="/user/checkBalance">Check Balance</a> |
			<a style="color:blue" href="/user/transferFunds">Transfer Funds</a> |
			<a style="color:blue" href="/user/transactionSummary">Transaction Summary</a> |
			<a style="color:blue" href="/user/contactUs">Contact Us</a> |
			<a style="color:blue" href="/user/logout"><label th:text="'Logout(' + ${session.user} + ')'" ></label></a>
		</nav>
	</div>
	<br>
	<div align="center">
		<b>User Account Details</b> <br>
		<br>
		<div th:if="${accounts != null}">
			<table border="1">
				<tr>
					<th>Bank Name</th>
					<th>Account Number</th>
					<th>Account Type</th>
					<th>Account Balance*</th>
				</tr>
				<th:block th:each="account : ${accounts}">
					<tr>
						<td th:text="${account.bankName}" />
						<td th:text="${account.userAccountDetails.accountNumber}" />
						<td th:text="${account.accountType}" />
						<td th:text="${account.userAccountDetails.accountBalance}" />
					</tr>
				</th:block>
			</table>
		</div>
		<span id="err" style="color: red" th:text="${errMsg}"></span> <br>
		<br>
		<div style="color: red; text-align: right" th:if="${accounts != null}">
			<span>*All Figures in Rupees</span>
		</div>
	</div>
</body>
</html>