<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Assignment2</title>
</head>
<body>
    <form action="/calculateAge" method="get">
    <table border="0">
    <tr>
    <td>Date of Birth: </td>
    <td><input type="text" name="dob" placeholder="dd/MM/YYYY" /></td>
    </tr>
    <tr>
    <td><input type="submit" value="Submit" /></td>
    <td><input type="reset" value="Reset" /></td>
    </tr>
    </table>
    </form>
</body>
</html>