<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Assignment9</title>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script>
var app = angular.module("myApp", []);

app.controller('myCtrl', function($scope, $http) {
	
	$scope.convert = function() {
		$http.get('/convert').then(function(output) {
			console.log(output);
			$scope.result = output.data;
		}, function(error) {
			console.log("fail");
		});
	}
	
	$scope.convertXml = function() {
		$http.get('/convertXml').then(function(output) {
			console.log(output);
			$scope.result = output.data;
		}, function(error) {
			console.log("fail");
		});
	}
	
	$scope.fetchMovie = function(id) {
		$http.get('/fetchMovie?id='+id).then(function(output) {
			console.log(output);
			$scope.result = output.data;		
		}, function(error) {
			console.log("fail");
		});
	}
});
</script>
</head>

<body>
	<h1>Movie Collection</h1>
	<hr />
	<div ng-app="myApp" ng-controller="myCtrl">
		<table border="0">
			<tr>
				<td><button ng-click="convert()">Fetch JSON</button></td>
			</tr>
			<tr>
				<td><button ng-click="convertXml()">Fetch XML</button></td>
			</tr>
			<tr>
			<td><input type="text" ng-model="mid"></input></td>
				<td><button ng-click="fetchMovie(mid)">Fetch Movie</button></td>
			</tr>
		</table>
		<div ng-bind="result"></div>
	</div>
</body>
</html>