<!DOCTYPE html>
<html>
<head>
<title>AngularJS - Assignment6</title>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body>
	<div ng-app="">
		<table border="0">
			<tr>
				<td>Enter Amount:</td>
				<td><input type="number" min="1" ng-model="amount"></td>
			</tr>
			<tr>
				<td>Enter Scratch Code:</td>
				<td><input type="text" ng-model="sCode"></td>
			</tr>
			<tr>
				<td>The amount entered is:</td>
				<td ng-bind="amount"></td>
			</tr>
			<tr>
				<td>The scratch code entered is:</td>
				<td ng-bind="sCode"></td>
			</tr>
		</table>

		<div ng-switch="sCode">
			<div ng-switch-when="CDMK1610">
				<p>Final Billing Amount: {{ amount - (amount*0.1) }}</p>
			</div>
			<div ng-switch-when="CDMK1620">
				<p>Final Billing Amount: {{ amount - (amount*0.2) }}</p>
			</div>
			<div ng-switch-when="CDMK1690">
				<p>Final Billing Amount: {{ amount - (amount*0.9) }}</p>
			</div>
			<div ng-switch-default>
				<p>Final Billing Amount: {{ amount - (amount*0.05) }}</p>
			</div>
		</div>
	</div>
</body>
</html>